*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

a,
input[type="submit"] {
  text-decoration: none;
  color: #333;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

li {
  list-style: none;
  font-size: 1.3rem;
}

i {
  font-size: 1.5rem;
}

input,
textarea,
fieldset,
select {
  border: none;
  background: none;
  outline: none;

  border-radius: 0.5rem;
  font-size: 1.5rem;
}

input,
textarea,
select {
  border: 1px hsla(0, 0%, 40%, 0.4) solid;
  padding: 1rem 2rem;
}

h1 {
  font-size: 6rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.2rem;
  font-weight: 600;
}

h4 {
  font-size: 1.7rem;
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.2rem;
  color: rgb(172, 172, 172);
}

p {
  font-size: 1.5rem;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

::placeholder {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

/* ----------------------------------------------------------------- */

.carousel {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 6rem;

  padding: 4rem;
}

/* <!-- CONTENT -----------------> */

.carousel__content {
  justify-self: center;
  text-align: center;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
}

.carousel__content--mini-title {
  color: blue;
}

.carousel__content--title {
  font-size: 4rem;
}

.carousel__content--desc span {
  display: block;
}

/* <!-- PRODUCTS -----------------> */

.carousel__products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.carousel__products--product {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, min-content);
  gap: 0.5rem;

  position: relative;
}

.carousel__products--product__img {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  height: 40rem;
}

.carousel__products--product__img img {
  border-radius: 0.5rem;
}

.carousel__products--product__name {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.carousel__products--product__price {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
}

.carousel__products--product__price span {
  display: inline-block;
  margin-left: 1rem;
  text-decoration: 1px line-through wavy;
  color: lightgray;
}

.carousel__products--product__rating-star {
  grid-column: 1 / -1;
  grid-row: 5 / 6;

  color: orange;
}

.carousel__products--product__rating-number {
  grid-column: 3 / -1;
  grid-row: 5 / 6;
}

.carousel__products--product__badge {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.carousel__products--product__badge.discount {
  background-color: rgb(21, 71, 158);
}

.carousel__products--product__badge.hot {
  background-color: rgb(158, 21, 51);
}

.carousel__products--product__badge.new {
  background-color: rgb(21, 158, 67);
}

/* <!-- NAV -----------------> */

.carousel__nav {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  justify-content: center;
}

.carousel__nav .fa-chevron-left,
.carousel__nav .fa-chevron-right {
  padding: 1rem;
  border: 1px solid orange;
  color: orange;
  cursor: pointer;
}




