

/* .lineaborde_a {
    border: 1px solid red;
}

.lineaborde_b {
    border: 1px solid blue;
}

.lineaborde_C {
    border: 1px solid olivedrab;
}

.lineaborde_d {
    border: 1px solid rgb(212, 0, 255);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-size: 10px;
}
  
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
}

/* ------------------------------------------------ */

main {
    height: 100vh;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #2e0249;
}
  
section {
    background-color: #a91079;
}
  
footer {
    background-color: #570a57;
}

header,
section,
footer {
    padding: 2rem;
    color: white;
    font-size: 2rem;
}

















