/* 
 .lineaborde_a {
    border: 1px solid red;
}

.lineaborde_b {
    border: 1px solid blue;
}

.lineaborde_C {
    border: 1px solid olivedrab;
}

.lineaborde_d {
    border: 1px solid rgb(212, 0, 255);
}  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

/* ---------------------------------------------- */

section {
    display: flex;
    /* si no entra en una fila salta a la sgte fila */
    flex-wrap: wrap;
    gap: 0.5rem;
    /* centra x */
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

