

.checkout {
    /* background-color: chartreuse; */
    
    padding: 5rem;

    display: flex;
    /* Alineado X */
    justify-content: center;
    gap: 5rem;
}

/* <!-- ------------- BILLING ------------------------------ --> */

.checkout__billing {
    /* border: 1px solid red; */
    /* background-color: aquamarine; */

    flex-basis: 50%;
}

.checkout__billing{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}


.checkout__billing--form{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

/* <!-- FORM ------------------------------ --> */

.checkout__billing--form fieldset {
    display: flex;
    gap: 1rem;
}

.checkout__billing--form fieldset input {
    /* hace que ocupe todo el espacio */
    flex-grow: 1;
}


.checkout__billing--form__account,
.checkout__billing--form__shipment {
    /* cambia la ubiacion de los contenidos */
    flex-direction: row-reverse;
    /* los pone a lado izquierdo */
    justify-content: flex-end;
}

.checkout__billing--form__account input,
.checkout__billing--form__shipment input,
.checkout__billing--form__coupon div input {
    /* hace que se ponga al lado izquierdo */
    /* inicialmente estan separados a lado derecho */
    flex-grow: 0 !important;
}

.checkout__billing--form__coupon {
    flex-direction: column;
}

.checkout__billing--form__coupon div {
    display: flex;
    gap: 1rem;
}

.checkout__billing--form__coupon div input:last-child {
    background-color: #333;
    color: white;
}









