
:root{
    font-size: 62.5%;
    
    --color-theme-1: hsl(216 33% 97%);
    --color-theme-2: hsl(327 97% 48%);
    --color-theme-3: hsl(253 82% 42%);
    --color-theme-4: hsl(0 0% 100%);
   
    --color-type-1: hsl(0, 0%, 100%);
    --color-type-2: hsl(238, 50%, 13%);
    --color-type-3: hsl(327, 97%, 48%);
    --color-type-4: hsl(253, 82%, 42%);
    --color-type-5: hsl(0, 0%, 45%);
    --color-type-6: hsl(0, 0%, 96%);
   
    --gradient-primary:linear-gradient(45deg, hsla(253deg, 82%, 42%, 0.9), hsla(327deg, 97%, 48%, 0.7));


    --pad-l-v: calc(2rem + 12vh);
    --pad-mc-v: calc(1rem + 8vh);
    --pad-m-v: calc(1rem + 6vh);
    --pad-sc-v: calc(1rem + 4vh);
    --pad-s-v: calc(1rem + 1vh);

    --pad-st-xl-h: 4rem;
    --pad-st-lc-h: 3rem;
    --pad-st-l-h: 2rem;
    --pad-st-m-h: 1.5rem;
    --pad-st-s-h: 1rem;


}



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}
  

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

li {
    list-style: none;
}
  
img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
  
input,
fieldset,
textarea {
    border: none;
    background: none;
    outline: none;
    border-radius: 0.5rem;
}



.lineaborde_a {
    border: 1px solid red;
}

.lineaborde_b {
    border: 1px solid blue;
}

.lineaborde_C {
    border: 1px solid olivedrab;
}

.lineaborde_d {
    border: 1px solid rgb(212, 0, 255);
}





/* ------------------ GENERAL  --------------------------- */



.overall-layout {
    grid-column: container-start/container-end;
}

.sec-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.padd {
    padding: calc(1rem + 8vh) calc(1rem + 8vw);
}

.sec-link,
input[type=submit] {
  color: hsl(0deg, 0%, 100%);
  font-size: 1.5rem;
  padding: 1rem 3rem;
}

/* CONTENIDO */
.sec-para {
    font-size: 1.5rem;
    color: hsl(238deg, 50%, 13%);
    text-align: center;
    margin-bottom: 4rem;
}

.sec-para span {
    display: block;
}

/*  Why Join EventGrids? */
.sec-mini-title {
    font-size: 1.5rem;
    color: hsl(327deg, 97%, 48%);
    position: relative;
    display: inline-block;
}
.sec-mini-title::before, 
.sec-mini-title::after {
    content: "";
    position: absolute;
    top: 50%;
    height: 0.2rem;
    width: 2rem;
    transform: translateY(-50%);
    background-color: hsl(327deg, 97%, 48%);
}
.sec-mini-title::before {
    left: -60%;
}
.sec-mini-title::after {
    right: -60%;
}

/*  */
.sec-sub-para {
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(17, 18, 50, 0.4);
}

.sec-title {
    font-size: calc(1rem + 1.5vw);
    font-weight: 900;
    color: hsl(238deg, 50%, 13%);
    text-align: center;
}

.responsive-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 3rem;
}

/* TITULO DE LOS SPAKERS (ROSADO EFECTO) */
.sec-sub-title {
    font-size: 2rem;
    font-weight: 500;
    transition: all 0.25s ease-in-out;
    color: hsl(327deg, 97%, 48%);
}
@media (hover) {
    .sec-sub-title {
        color: hsl(238deg, 50%, 13%);
    }
    .sec-sub-title:hover {
        color: hsl(327deg, 97%, 48%);
    }
}

/* ------------------ CONTAINER  --------------------------- */


.container {
    display: grid;
    grid-template-columns: [container-start] repeat(12, minmax(min-content, 12.5rem));
    justify-content: center;
}

/* ------------------ HEADER  --------------------------- */

/* -------------- HEADER 1 PAGINA.GALERRY.HTML */

/* ------------------ COUNTDOWN  --------------------------- */

/* ------------------ FEATURE  --------------------------- */


.features {
    background-color: hsl(216deg, 33%, 97%);
    padding-top: 0;
}
.features__mini-title::before {
    left: -25%;
}
.features__mini-title::after {
    right: -25%;
}
.features__container--feature {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, min-content);
    place-items: start;
    gap: 1.5rem;
    background-color: hsl(0deg, 0%, 100%);
    border-radius: 0.5rem;
    padding: 3rem 3rem;
    position: relative;
    overflow: hidden;
}
.features__container--feature__icon {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 2.5rem;
    padding: 1.5rem 1.5rem;
    color: hsl(0deg, 0%, 100%);
    background-color: hsl(253deg, 82%, 42%);
    border-radius: 0.5rem;
    transition: all 0.25s ease-in-out;
}
.features__container--feature__number {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
    font-size: 4rem;
    color: rgba(17, 18, 50, 0.05);
}
.features__container--feature__title {
    grid-column: 1/-1;
    grid-row: 2/3;
    font-size: 2rem;
}
.features__container--feature__desc {
    grid-column: 1/-1;
    grid-row: 3/4;
}
.features__container--feature::before, .features__container--feature::after {
    content: "";
    position: absolute;
    height: 30%;
    width: 2rem;
    background-repeat: no-repeat;
    transition: all 0.25s ease-in-out;
}
.features__container--feature::before {
    top: 0;
    left: 0;
    background-image: url("images/features/dots-blue.svg");
}
.features__container--feature::after {
    bottom: 0;
    right: 0;
    background-image: url("images/features/dots-pink.svg");
}
@media (hover) {
    .features__container--feature::before {
    left: -3rem;
    }
    .features__container--feature::after {
    right: -3rem;
    }
    .features__container--feature:hover::before {
    left: 0;
    }
    .features__container--feature:hover::after {
    right: 0;
    }
}

/* ------------------ ABOUT  --------------------------- */


/* ------------------ SPEAKERS  --------------------------- */

/* ------------------ EVENTS  --------------------------- */


/* ------------------ PRICE  --------------------------- */

  
/* ------------------ TESTMONIALS  --------------------------- */


/* ------------------ BLOGS  --------------------------- */


/* ------------------ CTA  --------------------------- */


/* ------------------ FOOTER  --------------------------- */

/* ------------------ PAGINA GALERY.HTML  --------------------------- */


/* ------------------ PAGINA BLOG.HTML  --------------------------- */


/* ------------------ PAGINA CONTACT.HTML  --------------------------- */

  
/* --------------------- responsive ----------------------- */

@media screen and (min-width: 1500px) {
    body {
        background-color: hsl(216deg, 33%, 97%);
    }
}

/*  > 1100px */
@media screen and (max-width: 1100px) {

    /* ------------- HEADER ---------------- */

    /* ------------- EVENTS ---------------- */

    /* ------------- BLOG PAGE.HTML ---------------- */

}  

/*  > 800px */
@media screen and (max-width: 800px) {
    /* ------------- EVENTS ---------------- */
   
    /* ------------- FOOTER ---------------- */


    /* ------------- BLOG PAGE.HTML ---------------- */


    /* ------------- CONTACT PAGE.HTML ---------------- */
   
}

/*  > 500px */
@media screen and (max-width: 500px) {
    /* ------------- EVENTS ---------------- */
   
    /* ------------- FOOTER ---------------- */

}

/*  > 600px */
@media screen and (max-width: 600px) {

    /* -------------- GENERAL -------------- */
    .padd {
        padding: calc(1rem + 4vh) calc(1rem + 2vw);
    }

    .responsive-grid {
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 1.5rem;
    }

    .sec-title {
        font-size: 2.5rem;
    }
    /* -------------- HEADER -------------- */
  
    /* -------------- COUNTDOWN -------------- */


    /* -------------- ABOUT -------------- */


    /* -------------- CONTACT PAGE.HTML -------------- */
   


}

